---
import AdminInterface from '../components/AdminInterface.jsx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Minh CMS</title>
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
		<AdminInterface client:only="react" />
	</body>
</html>